.main-menu-container {
  display: flex;
  grid-area: menu;
  align-content: center;
  justify-content: center;
  /* outline: 1px solid green; */
  width: 100%;
  margin: 0;
}
.menuBtn {
  position: relative;
  cursor: pointer;
  /* display: flex; */
  flex-direction: row;
  align-items: center;
  background-color: inherit;
  color: var(--third-color);
  font-size: 0.8rem;
  height: 100%;
}
.menuBtn:hover {
  color: var(--secondary-color);
}

.main-menu-container button {
  border: none;
  outline: none;
  padding: 0.75rem;
}

.button-active {
  border: none;
  outline: none;
  background-color: var(--secondary-color);
}

.button-active:hover {
  color: var(--third-color);
}

.button {
  width: 100%;
  top: 10rem;
  background-color: rgb(72, 161, 77);
  color: white;
  border: none;
  padding: 0.75rem;
  border-radius: 5px;
  margin: 0 1rem;
}
.button:hover {
  opacity: 0.7;
  cursor: pointer;
}

/* ===== Test */
