.main-menu-container {
  display: flex;
  grid-area: menu;
  align-content: center;
  justify-content: center;
  /* outline: 1px solid green; */
  width: 100%;
}
.menuBtn {
  position: relative;
  cursor: pointer;
  /* display: flex; */
  flex-direction: row;
  align-items: center;
}
.menuBtn:hover {
  color: salmon;
}
/* .test {
  display: flex;
  outline: 1px solid green;
} */
.main-menu-container button {
  border: none;
  outline: none;
  padding: 0.75rem;
}

.button-active {
  border: none;
  outline: none;
  background-color: salmon;
}
.button-active:hover {
  color: black;
}

.button {
  width: 100%;
  top: 10rem;
  background-color: rgb(131, 124, 124);
  color: white;
  border: none;
  padding: 0.75rem;
  border-radius: 5px;
  margin: 0 1rem;
}
.button:hover {
  opacity: 0.7;
  cursor: pointer;
}

/* ===== Test */
