.content-main-container {
  position: relative;
  display: grid;

  grid-template-areas:
    "spot menu  "
    "spot grid  "
    "spot grid  "
    "spot grid  ";
  gap: 2rem;
}

.grid {
  display: grid;
  grid-template-rows: repeat(25, auto);
  grid-template-columns: repeat(40, auto);
}

.menu-container {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}
