.content-main-container {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.grid {
  margin-top: 40px;
  position: relative;
  display: grid;
  grid-template-rows: repeat(40, 20px);
  grid-template-columns: repeat(70, minmax(2px, 20px));
}

.menu-main-container {
  background-color: var(--primary-color);
  width: 100%;
  margin: 0;
  height: fit-content;
}
