.grid-container {
  outline: 1px solid black;
  display: grid;
  grid-template-rows: repeat(25, auto);
  grid-template-columns: repeat(25, auto);
}
.start {
  background-color: rgb(63, 177, 63);
}
.end {
  background-color: rgb(241, 137, 137);
}
.path {
  background-color: rgb(123, 22, 170);
}
