.node {
  position: relative;
  /* width: max(2px, 25px); */
  max-width: 20px;
  height: 20px;
  background-color: white;
  border: 0.5px solid rgb(175, 216, 248);
  margin: 0;
}

.node:hover {
  opacity: 0.7;
}

.node-start {
  background-color: rgb(63, 177, 63);
}

.node-end {
  background-color: rgb(241, 137, 137);
}

.node-wall {
  border: 0.5px solid rgb(12, 53, 71);
  background-color: rgb(12, 53, 71);
}
.node-visited {
  background-color: rgb(241, 229, 117);
}
.node-path {
  --node-path-background-color: rgb(189, 88, 209);
  border: 0.5px solid var(--node-path-background-color);
  background-color: var(--node-path-background-color);
}
.node-spot {
  background-color: rgb(97, 97, 97);
}
.node-final {
  opacity: 0.5;
}
