.App {
  text-align: center;
  display: flex;
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  overflow: hidden;
}

.App-link {
  color: #61dafb;
}
.App h1 {
  color: rgb(114, 47, 168);
}
