.App {
  text-align: center;
  display: flex;
  background-color: var(--third-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  --primary-color: rgb(47, 47, 47);
  --secondary-color: rgb(254, 111, 39);
  --third-color: #f8f8ff;
}

.App h1 {
  font-size: 2vh;
  color: var(--third-color);
}
